@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import "tailwindcss";
@import "tw-animate-css";
@config "../tailwind.config.ts";

:root {
  font-family: "Pretendard", system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.prose ol {
  list-style-type: decimal !important;
  padding-left: 1.5rem;
}
